* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(229, 57%, 11%);
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: 0% -70%;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.container {
    /* width: 80%; */
    margin-top:23% ;
    margin-left:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.left{
    background-color:hsl(228, 56%, 26%);
    width: 350px;
    height: 200px;
    /* margin-top: 55%;
    margin-left: 75%;  */
    /* position: absolute; */
    border-radius: 10px 100px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logo {
    margin-right: 65px;
    margin-bottom: 10px;


}

.doc {
    width:50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: hsl(229, 57%, 11%);
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 15px;
}

.right {
    width: 50%;
    margin-top: 7%;
    margin-left: 20px;
}

.box{
    background-color: hsl(228, 56%, 26%);
    width: 30rem;
    height: 10rem;
    color: hsl(243, 100%, 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
    padding-left:35px;
    padding-right: 35px;
    /* position: relative; */
}

.progress{
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    padding: 3px;
    margin: 15px 0;
}

.progress > div {
    background-image: linear-gradient(hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    width: 70%;
    height: 10px;
    border-radius: 10px;
}

.textnum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message {
    position: absolute;
    margin-left: 355px;
    margin-top :-50px;
}

.square{
    width:160px;
    height:70px;
    background-color: hsl(243, 100%, 93%);
    border-radius: 10px 10px 0;
  /*   border-left : 25px solid transparent;
    border-right : 25px solid transparent;
    border-top : 50px solid #555; */
  }
  .square p{
      text-align: center;
      padding-top: 25px;
      font-weight: 700;
  }
  .triangle{
    width:0;
    height:0;
  /*   background-color: #555; */
    border-left : 25px solid transparent;
  /*   border-right : 0 solid transparent; */
    border-top : 25px solid hsl(243, 100%, 93%);
    margin-left : 135px
  }

  @media (max-width: 375px){

    body{
        background-image: url(/images/bg-mobile.png);
        /* background-attachment: fixed; */
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        /* position: absolute; */
        height: 100%;
        /* width: 100%; */
    }
      .container{
          flex-direction: column;
          width: 90%;
          margin: 25% auto;
      }

      .message{
          margin: auto;
          margin-top: 150px;
          margin-left: 25%;
         
      }

      .square{
           border-radius: 10px;
      }

      .triangle{
          border-right: 0;
          border-left: 0;
      }

      .left{
          /* padding: 5px; */
      }

      .right{
          width:90%;
          margin: auto;
      }

      .box{
          width: 95%;
          margin: 5% auto ;
          margin-left: 5px;
          /* padding-left: 20px; */
      }
  }